.home {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
}



.left{
  max-width: 545px;
}

.semiTitle{
  font-family: "Poppins", sans-serif;
  font-weight: "700";
  color: #DF6951;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
}

.title{
  font-family: 'Vollkorn', sans-serif;
  font-size: 75px;
  line-height: 80px;
  font-weight: "700";
  color: #181E4B;
  z-index: 2000;
}

.strike{
  position: relative;
}

.strike::after{
  position: absolute;
  content: url("/strike.png");
  bottom: 0;
  right: -140px;
}

.heroText{
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  width: 477px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.btnContainer{
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.findBtn{
  padding: 12px 20px;
  background-color: #F1A501;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

.playBtn{
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  width: auto;
  gap: 5px;
}

.play{
  height: 35px;
  color: #DF6951;
}

.playText{
  font-family: "Poppins";
  color: #181E4B;
  font-size: 13px;
}
