.companies{
  margin: 100px 0;
}

@media screen and (max-width: 1023px) {
  .companies{
    display: none;
  }
}


.title{
  font-family: "Open sans", sans-serif;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 10px;
}

.images{
  display: flex;
  align-items: center;
  justify-content: space-between;
}